
<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" #f="ngForm">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" email name="email" ngModel  #email="ngModel" class="form-control" placeholder="Email address" required>
      <p *ngIf="!email.valid && email.touched">Please enter valid email</p>
      <input type="password" password name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="onSubmit()" [disabled]="!f.valid">Sign in</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
