<div class="container">
  <form #f="ngForm">
    <label>
      <p class="label-txt">ENTER YOUR EMAIL</p>
      <input type="email" class="input" #email="ngModel" ngModel name="email" autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required>
      <!-- <div class="line-box">
      <div class="line"></div>
      </div> -->
    </label>
    <label>
      <p class="label-txt">ENTER YOUR USERNAME</p>
      <input type="text" class="input" ngModel name="username" autocomplete="off" name="username" required>
      <!-- <div class="line-box">
      <div class="line"></div>
      </div> -->
    </label>
    <label>
      <p class="label-txt">ENTER YOUR FIRST NAME</p>
      <input type="text" class="input" ngModel name="firstName" autocomplete="off" name="firstName" required>
      <!-- <div class="line-box">
      <div class="line"></div>
      </div> -->
    </label>
    <label>
      <p class="label-txt">ENTER YOUR LAST NAME</p>
      <input type="text" class="input" ngModel name="lastName" autocomplete="off" name="lastName" required>
      <!-- <div class="line-box">
      <div class="line"></div>
      </div> -->
    </label>
    <label>
      <p class="label-txt">ENTER YOUR PLATE NUMBER</p>
      <input type="text" class="input" ngModel name="plateNumber" autocomplete="off" name="plateNumber" required>
      <!-- <div class="line-box">
      <div class="line"></div>
      </div> -->
    </label>
    <label>
      <p class="label-txt">ENTER YOUR PASSWORD</p>
      <input type="password" class="input" ngModel name="password" autocomplete="off" name="password" required>
      <!-- <div class="line-box">
      <div class="line"></div>
      </div> -->
    </label>
    <button class="btn-register" type="submit" (click)="onSubmit()" [disabled]="!f.valid">Register</button>
  </form>
  <button class="btn-register" routerLink="/login" type="submit">Back</button>
</div>
